body {
    display: flex;
    align-items: flex-start;
}



.azul {
    padding: 100px;
    background-color: rgb(37, 41, 255);


}

.yo {
    padding: 70px;
    margin: 20px;
    background-color: rgb(255, 251, 14);
    display: flex;

}
.red{
    padding-right: 250px;
}
.flex{
    display: flex;
}